[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.dwlt

# Archivos de cache de Unity
*.pidb
*.booproj
*.userprefs
*.csproj
*.sln
*.suo
*.tmp
*.user
*.unityproj
*.swp
*.bak
*.orig
*.mdb

# Visual Studio Code
.vscode/
.vs/

# Rider
.idea/
*.sln.iml

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos personales opcionales
*.apk
*.aab
*.exe
*.dll


# Git
.git/

# Unity Cloud
.crashlytics/
